nav{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
#part1_nav
{
  font-size:2vw;
  font-weight: 600;
  padding:10px;
  font-family: monospace;
}
#part2_nav{
  display: flex;
  gap:60px;
  font-size:1.5vw;
  font-family: monospace;
}
main{
  display: flex;
  width:100%;
  height:35vw;

}
#part1_main{
      width:60%;

}
#h1
{
  padding: 30px 50px;
  font-size:4vw;
  font-family: monospace;
}
#p1
{
  font-family:monospace;
  padding:10px 30px;
  font-size:1.4vw;
}
#img1
{
  width:45vw;
  height:35vw;
  padding: 2vw 3vw;
}
.btnBook{
  width:20vw;
  margin:10px 30px;
  padding: 10px 25px;
  background-color:black;
  color: white;
  font-family: monospace;
  font-size:1.4vw;
  border-radius:1.2vw;
  cursor: pointer;
}
.btnBook:hover{
  background-color:rgb(43, 41, 41);
}
.section1{
  display: flex;
  overflow: hidden;
}
.section1 img{
  width:10vw;
  margin-top:12vw;
  margin-left:5vw;
  
}
.section2{
  width:100%;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  
}
#h1Services{
  font-size:2.5vw;
  background-color: rgba(115, 220, 23, 0.823);
  color:black;
  font-weight: 600;
  padding: 0px 20px;
  border-radius:5px;
  font-family: monospace;
}
#p1{
  font-size:1vw;
  font-family: monospace;
  font-weight: 400;
  padding: 20px 55px;
}
.section3{
  display: flex;
  padding: 10px 20px;

  width:100%;
  justify-content: center;
  flex-wrap: wrap;
  gap:2vw;
  
  height:50vw;
  
}

.box1{
  width: 45vw;  
  border-radius:0.6vw;
  display: flex;
  border:3px solid black;
  height: 22vw;
  box-shadow: 0px 15px 10px black;
  background-color: white;
}
.h1Img{
  font-size: 2.5vw;
  padding: 10px 20px;
  font-family: monospace;
  font-weight: 800;
  background-color: rgba(115, 220, 23, 0.823);
  margin: 50px 20px;
  
}
.learn1{
  font-size: 2vw;
  padding: 10px 20px;
  font-family: monospace;
  font-weight: 800;
  cursor: pointer;
}
#img2{
  padding: 25px 30px;
  width: 18vw;
}
.section4{
  width:100%;
  margin: 10px 20px;
  height:30vw;
  display: flex;
  background-color: rgba(219, 214, 214, 0.467);
  border-radius: 2vw;
}
#part1_section4
{
  width:60%;
  margin: 30px 20px;
  height:30vw;

}
#section_h1{
  font-size:2.5vw;
  font-family: monospace;
  padding: 40px 20px;
  font-weight: 600;
}
#para{
  font-size:1.4vw;
  padding: 10px 20px;
  font-family: monospace;
}
#freeBtn{
  padding:12px 30px;
  background-color: black;
  color: white;
  font-family: monospace;
  border-radius: 2vw;
  margin: 30px 40px;
  border:none;
}
#freeBtn:hover{
  background-color: rgb(30, 29, 29);
}
#part2_section4 img{
  width: 30vw;
  padding: 50px 20px;
  border-radius: 12vw;
}
.footer{
  width: 100%;
  height: 10vw;
  text-align: center;
  padding: 10px 20px;
  color:white;
  
  margin: 0px 20px;
  background-color: rgb(51, 47, 47);
}
h5{
  font-size:1vw;
  font-weight: 600;
  font-family: monospace;
}
h3{
  font-size:1vw;
  font-weight: 600;
  font-family: monospace;
}